<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/iofrm-style.css">
    <link rel="stylesheet" href="/css/iofrm-theme41.css">
</head>
<body>
    <div class="form-body form-left">
        <div class="iofrm-layout">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/images/graphic14.svg" alt="graphic">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <div class="website-logo-inside logo-normal">
                            <a href="/">
                                <div class="logo">
                                    <img class="logo-size" src="/images/logo-salpink.svg" alt="Logo">
                                </div>
                            </a>
                        </div>
                        <h3 class="font-md">Get more things done with our Login platform.</h3>
                        <p>Access the most powerful tool in the entire design and web industry.</p>

                        <% if (errorMessage) { %>
                            <div class="alert alert-danger">
                                <%= errorMessage %>
                            </div>
                        <% } %>

                        <form action="/auth/login" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="name" placeholder="Username" required>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
                            </div>

                            <div class="form-button d-flex">
                                <button type="submit" class="btn btn-primary">Login</button>
                                <a href="/auth/formregister" class="btn btn-outline-primary">Create account</a>
                            </div>
                        </form>

                        <div class="other-links">
                            <span>Or login with</span>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-google"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
